<% if(locals.isAuthenticated && locals.currentUser.admin){ %>
  <form method="POST" action="/hamburgers/<%= hamburger.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <a class="btn btn-primary" href="/hamburgers/<%= hamburger.id %>/edit">Edit</a>
    <button class="btn btn-primary">Delete</button>
  <% if(!hamburger.approved){ %>
      <input type="hidden" name="_method" value="PUT">
      <input type="hidden" name="approved" value="true">
      <div class="control">
        <button class="btn btn-primary">Approve</button>
      </div>
  <% } else { %>
    <button class="btn btn-success">Approved</button>
  <% } %>
  </form>
<% } %>
