<nav class="navbar sticky-bottom navbar-light bg-faded">
  <p>
    <strong>Getmeaburger</strong> by <a href="">Daniel Izquierdo</a>.    
  </p>
  <p>
    <a href="https://github.com/danielsan89">
      <img class="nav-icon" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="github">
    </a>
  </p>
</nav>
