<% if(!locals.isAuthenticated){ %>
  <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="nav-icon" src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png" alt="users">
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
<% } else {%>
  <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img class="nav-icon" src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png" alt="users">
  <%= locals.currentUser.username %>
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdown01">
  <% } %>
    <% if(!locals.isAuthenticated){ %>
      <div class="dropdown-login">
        <form method="POST" action="/login">
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input class="input" name="email" type="text" placeholder="Email">
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" name="password" type="password" placeholder="Password">
            </div>
          </div>
          <div class="control buttons">
            <button class="dropdown-item">Login</button>
          </div>
          <div class="control buttons">
            <a class="dropdown-item" href="/register">Register</a>
          </div>
        </form>
      </div>
<% } else if(locals.currentUser.admin){%>
  <a class="dropdown-item" href="/hamburgers/new"><img class="nav-icon-drop" src="https://d30y9cdsu7xlg0.cloudfront.net/png/98458-200.png" alt="new burger"></a>
  <a class="dropdown-item" href="/hamburgers/admin"><img class="nav-icon-drop" src="https://cdn4.iconfinder.com/data/icons/line-system/512/admin-512.png" alt="admin page"></a>
  <a class="dropdown-item" href="/logout"><img class="nav-icon-drop" src="https://cdn3.iconfinder.com/data/icons/common-3/100/symbols_power-off-2_-512.png" alt="logout"></a>
<% } else{%>
  <a class="dropdown-item" href="/hamburgers/new"><img class="nav-icon-drop" src="https://d30y9cdsu7xlg0.cloudfront.net/png/98458-200.png" alt="new burger"></a>
  <a class="dropdown-item" href="/logout"><img class="nav-icon-drop" src="https://cdn3.iconfinder.com/data/icons/common-3/100/symbols_power-off-2_-512.png" alt="logout"></a>
<% } %>
