<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><img class="nav-icon" src="https://cdn1.iconfinder.com/data/icons/freeline/32/home_house_real_estate-512.png" alt="home"></a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/hamburgers"><img class="nav-icon" src="https://d30y9cdsu7xlg0.cloudfront.net/png/42027-200.png" alt="burgers"></a>
      </li>
      <li class="nav-item dropdown">
      <% if(!locals.isAuthenticated){ %>
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="nav-icon" src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png" alt="users">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
      <% } else {%>
        <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img class="nav-icon" src="https://cdn1.iconfinder.com/data/icons/freeline/32/account_friend_human_man_member_person_profile_user_users-256.png" alt="users">
        <%= locals.currentUser.username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
        <% } %>
          <% if(!locals.isAuthenticated){ %>
            <div class="dropdown-login">
              <form method="POST" action="/login">
                <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" name="email" type="text" placeholder="Email">
                  </div>
                </div>
                <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" name="password" type="password" placeholder="Password">
                  </div>
                </div>
                <div class="control">
                  <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
                </div>
            </form>
            </div>
            <a class="dropdown-item" href="/register">Register</a>
          <% } else if(locals.currentUser.username === 'ADMIN'){%>
            <a class="dropdown-item" href="/hamburgers/new">New Hamburger</a>
            <a class="dropdown-item" href="/hamburgers/admin">Dashboard</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          <% } else{%>
            <a class="dropdown-item" href="/hamburgers/new">New Hamburger</a>
            <a class="dropdown-item" href="/logout">Logout</a>
          <% } %>
        </div>
      </li>
    </ul>

  </div>
</nav>
