<div class="row">
  <ul>
  <% hamburgers.forEach(hamburger => { %>
    <% if (!hamburger.approved) { %>
      <li>
      <a href="/hamburgers/<%= hamburger.id %>">
        <strong><%= hamburger.name.toUpperCase() %></strong>@<strong><%= hamburger.restaurant.toUpperCase() %></strong>
      </a>

    </li>
    <% } %>
  <% }) %>
  </ul>
</div>
