<div class="row">
  <% hamburgers.forEach(hamburger => { %>
    <% if (hamburger.approved) { %>
    <div class="col-2 hamburgers" style="background-image:url(<%= hamburger.image %>)">
      <a href="/hamburgers/<%= hamburger.id %>">
        <h2><%= hamburger.name %></h2>
        <h3><%= hamburger.restaurant %></h3>
      </a>
    </div>
    <% } %>
  <% }) %>
</div>
