<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <%- include ./partials/_scripts %>
  </head>
  <body>
    <%- include ./partials/_navbar %>
    <%- body %>
  </body>
</html>
