<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project 2</title>
    <%- include ./partials/_scripts %>
  </head>
  <body>
    <header>
      <%- include ./partials/_navbar %>
    </header>
    <div class="container">
      <%- body %>
    </div>
  </body>
  <%- include ./partials/_footer %>
</html>
