body {
  margin-top:10vw;
  color: black;

  a{
    text-decoration: none;
  }
  img {
    max-width:100%;
  }
  h1{
    text-align: center;
    font-family: 'Zilla Slab Highlight', cursive;
  }
  #login{
    text-align: center;
    border:1px solid grey;
    border-radius: 10px;
    width:40%;
    height: 20vw;
    background-color: darkgrey;
  }
  .containerShow{
    margin-left: 20%;
    h4{
      font-family: 'Zilla Slab Highlight', cursive;
    }
  }

  .hamburgers {
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    a {
      font-family: 'Zilla Slab Highlight', cursive;
      opacity: 0;
      transition: opacity 0.5s;
      color: white;
      text-decoration: none;

      h2,h3 {
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
        text-transform: uppercase;
        font-size: 24px;
      }
    }

    &:hover {
      a {
        opacity: 1;
      }
    }
  }
}

header{
  .nav-icon{
    height:30px;
    width:30px;
    &:hover{
      border-bottom: 1px solid black;
    }
  }
  .navbar-brand{
    font-family: 'Pacifico', cursive;
  }
  .dropdown-menu{
    text-align: center;
    .nav-icon-drop{
      text-align: center;
      height:30px;
      width:30px;
    }
  }


  .dropdown-login{
    padding: 10px;
    .buttons{
      margin-top:10px;
    }
  }
}

footer{
  text-align: center;

    strong{
      font-family: 'Pacifico', cursive;
    }

  .nav-icon{
    height:30px;
    width:30px;
  }
}
