body {
  margin-top:10vw;
  color: black;

  a{
    text-decoration: none;
  }
  img {
    max-width:100%;
  }
  #login{
    text-align: center;
    border:1px solid grey;
    border-radius: 10px;
    width:40%;
    height: 20vw;
    background-color: darkgrey;
  }
  .hamburgers {
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

    a {
      opacity: 0;
      transition: opacity 0.5s;
      color: white;

      strong {
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 1);
      }
    }

    &:hover {
      a {
        opacity: 1;
      }
    }
  }
}

header{
  .nav-icon{
    height:30px;
    width:30px;
  }

  .dropdown-login{
    padding: 22px;
  }
}
